.title {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.container {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  gap: 4rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 4rem;
}

.footer_text {
  text-align: center;
  color: var(--white);

  @media (min-width: 768px) {
    text-align: left;
  }
}

.footer_span {
  font-weight: 700;
}